---
interface Props {
  btntext?: string;
  btnlink?: string;
  class?: string;
  topbanner?:boolean
  [x: string]: any;
}

const {
  btntext = "WhatsApp Now",
  class: className,
  topbanner=false,
  btnlink = "http://wa.me/918307396042",
  ...rest
} = Astro.props;
---

<button>
  <a
    href={btnlink}
    class={`bg-[#F4C024] flex no-underline justify-center items-center font-semibold md:p-2.5 px-1 py-1 rounded-lg ${topbanner?'md:w-40 w-24':''} w-40 text-black`}
  >
    {btntext}
  </a>
</button>
